@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1{
    background-color: white;
    color: black;
    margin: 20px 20px 20px 20px;
    text-align: center;
}
.text {
    font-family: "Playwrite IT Moderna";
  } 

body
{
   /*background-image: url(https://www.secureworks.com/-/jssmedia/images/thumbnails/videos/vd-gen-survivorship-bias-what-are-you-missing-is-it-making-you-less-secure_16-9-md.png?h=722&iar=0&w=1284&hash=CC5454E48A375C4A8AD5B1104E9ABE35&mw=3840);*/
   background-image: url(https://wallpapercave.com/wp/wp7238121.jpg);
   background-size: cover;
   color: white;
   margin: 20px 20px 20px 20px;
}

p
{
    margin: 20px 20px 20px 20px;
    color: white;
    font-size: 20px;
    text-align: justify ;
    line-height: 1.4; 
  
}

form{
    margin: 20px 20px 20px 20px;
    
}